################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TicketTgBot/obj
/.vs/TicketTgBot/v17
/.vs
/TicketTgBot/bin/Debug/net6.0
